# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# kate
*.kate-swp

# other
eclipse
run

# third-party mod jars (copied from the game instance)
libs

# macOS
.DS_Store
